{% extends 'cartoview/base.html' %}
{% load static %}


{% block content %}
{{ block.super }}
		<div id="basicviewer-config"></div>
{% endblock content %}


{% block extra_js %}
{{ block.super }}
	<script src="{% static 'basic_viewer/dist/polyfill.js' %}"></script>
    <script src="{% static 'basic_viewer/dist/react.js' %}"></script>
    <script src="{% static 'basic_viewer/dist/extVendors.js' %}"></script>
    <script src="{% static 'basic_viewer/dist/configPage.bundle.js' %}"></script>
{% endblock extra_js %}
